body {
    width: unset !important;
    padding-left: 2.5%  !important;
    padding-right: 2.5%  !important;
}

body .hscroll {
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;
}
