{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

<nav aria-label="Breadcrumb" class="breadcrumb" data-style="none">
<ul>
    {% set current_url = this | url %}
    {% set crumbs = current_url.split('/') %}
    {% set crumbs = crumbs[1:-2] %}
    <li><a href="/">sunarch</a></li>
    {% set current_path = [] %}
    {% for crumb in crumbs %}
        {% if current_path.append(crumb) %}&zwnj;{% endif %}
        <li><a href="/{{ '/'.join(current_path) }}/">{{ crumb }}</a></li>
    {% endfor %}

    {% if this | url != '/' %}
        <li><span aria-current="page">{{ this.title }}</span></li>
    {% endif %}
</ul>
</nav>
