{#
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
#}

{% extends 'base.html' %}

{% block template_styles %}{% endblock %}

{% block title %}{{ this.title }}{% endblock %}

{% block description %}{{ this.description }}{% endblock %}

{% set lang_sections_comparison = [
    ('', 'General'),
    ('preone', 'General - before 1.0'),
    ('stagnated', 'Stagnated (no recent release)'),
    ('translation', 'Translation layer'),
    ('system', 'System'),
    ('database', 'Database'),
    ('domain', 'Domain-specific'),
    ('teaching', 'Teaching'),
    ('experimental', 'Experimental'),
    ('esoteric', 'Esoteric')
]
%}
{% set lang_sections_other = [
    'markup',
    'hardware'
]
%}
{% set lang_sections_rankings = [
    ('', 'General'),
    ('preone', 'General - before 1.0'),
    ('stagnated', 'Stagnated (no recent release)'),
    ('translation', 'Translation layer'),
    ('system', 'System'),
    ('database', 'Database'),
    ('domain', 'Domain-specific'),
    ('hardware', 'Hardware'),
    ('teaching', 'Teaching'),
    ('markup', 'Markup / styling'),
    ('application', 'Application-specific'),
    ('experimental', 'Experimental'),
    ('esoteric', 'Esoteric'),
    ('family', 'Parent of a language family'),
    ('legacy', 'Legacy'),
    ('deprecated', 'Deprecated')
]
%}

{% block content %}
    {{ this.body }}
    <h2>comparison</h2>
    <div class="hscroll">
    <table style="margin-bottom: 20pt;">
        <tbody>
            {% for item in bag('proglang_features').values() %}
            <tr>
                <td>{{ item.label }}</td>
                <td>{{ item.description }}</td>
                <td>→ <a target="_blank" href="{{ item.link_url }}">{{ item.link_title }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <ul>
        <li>{{ bag('proglang_features.explicit_errors.description') }}</li>
        <ul>
            <li>Wikipedia: <a target="_blank" href="https://en.wikipedia.org/wiki/Result_type">Result type</a></li>
            <li>Wikipedia: <a target="_blank" href="https://en.wikipedia.org/wiki/Option_type">Option type</a></li>
        </ul>
    </ul>
    <h3>general</h3>
    <div class="hscroll">
    <table>
        <thead>
            <tr style="font-weight: bold;">
                <th rowspan="2">score</th>
                <th rowspan="2">name</th>
                <th rowspan="2">year</th>
                <th colspan="8">features</th>
                <th colspan="2">refs</th>
                <th rowspan="2">(me)</th>
            </tr>
            <tr style="font-weight: bold;">
                <th>{{ bag('proglang_features.static_typing.label') }}</th>
                <th>{{ bag('proglang_features.adt.label') }}</th>
                <th>{{ bag('proglang_features.compiled.label') }}</th>
                <th>{{ bag('proglang_features.context_management.label') }}</th>
                <th>{{ bag('proglang_features.explicit_errors.label') }}</th>
                <th>{{ bag('proglang_features.hof.label') }}</th>
                <th>{{ bag('proglang_features.immutable.label') }}</th>
                <th>{{ bag('proglang_features.pattern_matching.label') }}</th>
                <th>{{ bag('proglang_features.jargon.label') }}</th>
                <th>{{ bag('proglang_features.hacker.label') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category, lang_section in lang_sections_comparison %}
                <tr class="table-section-header">
                    <td colspan="16">{{ lang_section }}</td>
                </tr>
                {% for child in this.children | sort(attribute='comparison_score', reverse=true) %}
                {% if child.category == category %}
                <tr>
                    <td>{{ child.comparison_score }}</td>
                    <td{% if child.category == 'deprecated' %} class="deprecated"{% endif %} style="font-weight: bold;">
                        <a href="{{ child._slug }}">{{ child.title }}</a>
                    </td>
                    {% if child.first_appeared | string | length > 0 %}
                        <td>{{ child.first_appeared }} ({{ child.age }})</td>
                    {% else %}
                        <td>{{ child.first_appeared }}</td>
                    {% endif %}
                    <td>{{ child.feature_static_typing }}</td>
                    <td>{{ child.feature_adt }}</td>
                    <td>{{ child.feature_compiled }}</td>
                    <td>{{ child.feature_context_management }}</td>
                    <td>{{ child.feature_explicit_errors }}</td>
                    <td>{{ child.feature_hof }}</td>
                    <td>{{ child.feature_immutable }}</td>
                    <td>{{ child.feature_pattern_matching }}</td>
                    <td>{{ child.feature_jargon }}</td>
                    <td>{{ child.feature_hacker }}</td>
                    {% if child.sunarch | string | length > 0 %}
                        <td>({{ child.sunarch }})</td>
                    {% else %}
                        <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    <h3>other</h3>
    <div class="hscroll">
    <table>
        <thead>
            <tr style="font-weight: bold;">
                <th>name</th>
                <th>year</th>
                <th>(me)</th>
            </tr>
        </thead>
        <tbody>
            {% for child in this.children | sort(attribute='title') %}
            {% if child.category in lang_sections_other %}
            {% if child.sunarch | string | length > 0 %}
            <tr>
                <td{% if child.category == 'deprecated' %} class="deprecated"{% endif %} style="font-weight: bold;">
                    <a href="{{ child._slug }}">{{ child.title }}</a>
                </td>
                <td>{{ child.first_appeared }}</td>
                {% if child.sunarch | string | length > 0 %}
                    <td>({{ child.sunarch }})</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    <h3>Rankings</h3>
    <div class="hscroll">
    <table style="display: table; width: 100%; margin-bottom: 20pt;">
        <thead>
            <tr style="font-weight: bold;">
                <th rowspan="2">sum</th>
                <th rowspan="2">name</th>
                <th rowspan="2">year</th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.ieee_spectrum.general_url') }}">{{ bag('proglang_rankings.ieee_spectrum.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.ieee_spectrum_jobs.general_url') }}">{{ bag('proglang_rankings.ieee_spectrum_jobs.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.ieee_spectrum_trending.general_url') }}">{{ bag('proglang_rankings.ieee_spectrum_trending.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.pypl.general_url') }}">{{ bag('proglang_rankings.pypl.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.redmonk.general_url') }}">{{ bag('proglang_rankings.redmonk.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.stackoverflow_popular.general_url') }}">{{ bag('proglang_rankings.stackoverflow_popular.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.stackoverflow_desired.general_url') }}">{{ bag('proglang_rankings.stackoverflow_desired.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.stackoverflow_paying.general_url') }}">{{ bag('proglang_rankings.stackoverflow_paying.label') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.tiobe.general_url') }}">{{ bag('proglang_rankings.tiobe.label') }}</a></th>
            </tr>
            <tr>
                <th><a target="_blank" href="{{ bag('proglang_rankings.ieee_spectrum.latest_url') }}">{{ bag('proglang_rankings.ieee_spectrum.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.ieee_spectrum_jobs.latest_url') }}">{{ bag('proglang_rankings.ieee_spectrum_jobs.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.ieee_spectrum_trending.latest_url') }}">{{ bag('proglang_rankings.ieee_spectrum_trending.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.pypl.latest_url') }}">{{ bag('proglang_rankings.pypl.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.redmonk.latest_url') }}">{{ bag('proglang_rankings.redmonk.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.stackoverflow_popular.latest_url') }}">{{ bag('proglang_rankings.stackoverflow_popular.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.stackoverflow_desired.latest_url') }}">{{ bag('proglang_rankings.stackoverflow_desired.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.stackoverflow_paying.latest_url') }}">{{ bag('proglang_rankings.stackoverflow_paying.latest') }}</a></th>
                <th><a target="_blank" href="{{ bag('proglang_rankings.tiobe.latest_url') }}">{{ bag('proglang_rankings.tiobe.latest') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category, lang_section in lang_sections_rankings %}
                <tr class="table-section-header">
                    <td colspan="16">{{ lang_section }}</td>
                </tr>
                {% for child in this.children | sort(attribute='sum_rankings') %}
                {% if child.category == category %}
                <tr>
                    <td>{{ child.sum_rankings }}</td>
                    <td{% if child.category == 'deprecated' %} class="deprecated"{% endif %} style="font-weight: bold;"><a href="{{ child._slug }}">{{ child.title }}</a></td>
                    <td>{{ child.first_appeared }}</td>
                    <td>{{ child.ranking_ieee_spectrum }}</td>
                    <td>{{ child.ranking_ieee_spectrum_jobs }}</td>
                    <td>{{ child.ranking_ieee_spectrum_trending }}</td>
                    <td>{{ child.ranking_pypl }}</td>
                    <td>{{ child.ranking_redmonk }}</td>
                    <td>{{ child.ranking_stackoverflow_popular }}</td>
                    <td>{{ child.ranking_stackoverflow_desired }}</td>
                    <td>{{ child.ranking_stackoverflow_paying }}</td>
                    <td>{{ child.ranking_tiobe }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
